.startpage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    padding-top: 300px;
}

.bj-heading {
    font-family: "beautyofthebeast";
    color: goldenrod;
    background-color: black;
    font-size: 65px;
    letter-spacing: 1px;
    margin-top: -100px;
    margin-bottom: 100px;
}

.start-page-king {
    margin-left: -22px;
    background: transparent;
}

.start-page-ace {
    background: transparent;
    margin-left: 28px;
    margin-top: -144px;
}


.button-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 100px;
}

.button-area button {
    width: 150px;
    padding: 5px 10px;
    color: goldenrod;
    background-image: linear-gradient(midnightblue, rgb(51, 51, 203));
    border: 2px solid goldenrod;
    border-radius: 10px;
    margin-bottom: 13px;
    font-size: 20px;
    letter-spacing: 1.3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}


.button-area button:active {
    transform: translateY(2px); 
}


.play-btn {

}

.rules-btn {

}

.credits-btn {

}


@media screen and (max-width: 1700px) {


        .bj-heading {
            font-family: "beautyofthebeast";
            color: goldenrod;
            background-color: black;
            font-size: 58px;
            letter-spacing: 1px;
            align-self: center;
            margin-left: -17px;
            margin-top: -205px;
            margin-bottom: 20px;
        }
}

@media screen and (max-width: 471px) {
    .startpage {
        padding-top: 0px;
    }    

    .bj-heading {
        font-size: 50px;
        letter-spacing: 1px;
        align-self: center;
        margin-left: -17px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .start-page-king {
        margin-left: -22px;
        background: transparent;
    }

    .start-page-ace {
        margin-top: -110px;
    }

  
    
    .button-area {
        margin-top: 80px;
        margin-bottom: 0px;
    }

    .button-area button {
        margin-bottom: 13px;
    }

   

}