@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


.game-table {
    width: 100%;
    height: 100%;
  
  }

  .hidden {
    visibility: hidden;
 
  }

  .none-transition {
    transition: none;
  }
  
  .dealers-box {
    width: 800px;
    height: 200px;  
    position: relative;
  }

  .first-dealer-card, .second-dealer-card, .third-dealer-card,
  .fourth-dealer-card, .fifth-dealer-card, .sixth-dealer-card, .seventh-dealer-card,
  .first-user-card, .second-user-card, .third-user-card {
    position: absolute; 
    left: -80%;
    top: -200%;
  }

  .active1, .activeOne {
      top: 0;
      left: 30%;
      animation-duration: 500ms;
      transition: ease 0.5s;
  }

  .active2, .activeTwo {
      top: 0;
      left: 35%;
      animation-duration: 500ms;
      transition: ease 0.5s
  }
  .active3 {
      top: 0;
      left: 40%;
      animation-duration: 500ms;
      transition: ease 0.5s;
  }
  .active4 {
      top: 0;
      left: 45%;
      animation-duration: 500ms;
      transition: ease 0.5s
  }
  .active5 {
      top: 0;
      left: 50%;
      animation-duration: 500ms;
      transition: ease 0.5s
  }
  .active6 {
      top: 0;
      left: 55%;
      animation-duration: 500ms;
      transition: ease 0.5s
  }

  .active7 {
      top: 0;
      left: 60%;
      animation-duration: 500ms;
      transition: ease 0.5s
  }

  .user-box {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    bottom: 0!important;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stand-btn, .hit-btn {
    color: var(--white);
    padding: 5px 10px;
    border: 1px solid burlywood;
    border-radius: 10px;
    background-image:linear-gradient(rgb(108, 24, 24), rgb(159, 13, 13));
    font-size: 20px;
    letter-spacing: 1.3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    width: 90px;
    cursor: pointer;
}

.hit-btn {
    background-image: linear-gradient(midnightblue, rgb(51, 51, 203));
}

.hit-btn:active, .stand-btn:active {
    transform: translateY(2px);
}

.user-card-area {
  width: 800px;
  height: 200px;  
  position: relative;
  margin-top: 150px;
}

.user-sum {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid goldenrod;
  border-radius: 3px;
  background-color: black;
  width: 40px;
  color: goldenrod;
  position: absolute;
  right: 40%;
  bottom: 42%;
  padding: 2px;
  visibility: visible;
}

.user-sum:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 5px;
  left: -16px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid goldenrod;
}

.bubble-top:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: -40px;
	right: 240px;
	border-top: 20px solid transparent;
	border-bottom: 30px solid white;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
}

.betting-box {
  z-index: 5;
  width: 800px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -400px;
}

.hide-chips {
  visibility: hidden;
}

.chips {
  position: relative;
  width: 800px;
  height: 120px;
  margin: 0px;
  padding: 0px;
}

.pokerchip {
  display: block;
  width: 85px;
  height: 85px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color:  #fff;
  background: green;
  border: 7px dashed  #fff;
  border-radius: 6em;
  padding-top: 6em/2 - 1em;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.greenchip {
  background: #008000;
  position: absolute;
  bottom: 3%;
  left: 0;
  margin-left: 100px;
  transition: 0.5s ease-in-out;
}

.redchip {
  background:  #800000!important;
  position: absolute;
  bottom: 3%;
  left: 0;
  margin-left: 250px;
  transition: 0.5s ease-in-out;
}

.bluechip {
  background-color: #000099!important;
  position: absolute;
  bottom: 3%;
  left: 0;
  margin-left: 400px;
  transition: 0.5s ease-in-out;

}

.blackchip {
  background: #222222!important;
  position: absolute;
  bottom: 3%;
  left: 0;
  margin-left: 550px;
  transition: 0.5s ease-in-out;

}

.betted-chip {
  position: absolute;
  bottom: 70%;
  left: 50%;
  margin-left: -42px;
  visibility: visible;
}

.place-bet-text {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  word-spacing: 5px;
  animation: textmove 5s ease-in-out ;
  animation-iteration-count: infinite;
}

@keyframes textmove {
  0% {
      top: 30%;
  }
  50% {
    top: 32%;
  }
  100% {
    top: 30%;
  }
  
}

.arrow-1 {
  font-size: 40px;
  color: var(--white);
  position: absolute;
  top: -30%; 
  left: 0;
  margin-left: 273px;
  z-index: 1;
  animation: arrowmove 1s ease-in-out ;
  animation-iteration-count: infinite;
}

.arrow-2 {
  font-size: 40px;
  color: var(--white);
  position: absolute;
  top: -30%; 
  left: 0;
  margin-left: 123px;
  padding: 0px;
  z-index: 1;
  animation: arrowmove 1s ease-in-out ;
  animation-iteration-count: infinite;
}

.arrow-3 {
  font-size: 40px;
  color: var(--white);
  position: absolute;
  top: -30%; 
  left: 0;
  margin-left: 423px;
  z-index: 1;
  animation: arrowmove 1s ease-in-out ;
  animation-iteration-count: infinite;
}

.arrow-4 {
  font-size: 40px;
  color: var(--white);
  position: absolute;
  top: -30%; 
  left: 0;
  margin-left: 573px;
  z-index: 1;
  animation: arrowmove 1s ease-in-out ;
  animation-iteration-count: infinite;

}

 @keyframes arrowmove {
  0% {
    top: -30%;
  }
  50% {
    top: -35%;
  }
  100% {
    top: -30%;
  }
} 


.none-transition {
  transition: none;
}



  
  @media screen and (max-width: 811px) {
    .dealers-box {
      width: 620px;
      height: 200px;
    }
  }
  
  @media screen and (max-width: 471px) {
    .dealers-box {
      width: 300px;    
    }

    .user-box {
        width: 250px;
        position: absolute;
        left: 50%;
        margin-left: -125px;
        bottom: 0;
        padding: 30px 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .stand-btn, .hit-btn {
        padding: 6px 10px;
        font-size: 18px;
        letter-spacing: 1.3px;
        width: 80px;
    }

 
   

  .active1 {
      left: 5%;
  }
  .active2 {
    left: 15%;
  }
  .active3 {
    left: 25%;
  }
  .active4 {
    left: 35%;
  }
  .active5 {
    left: 45%;
  }
  .active6 {
    left: 55%;
  }
  .active7 {
    left: 65%;
  }

  .activeOne {
    left: 25%;
  }

  
.activeOne {
  left: 5%;
}

.activeTwo {
  left: 15%;
}

.activeT {
  left: 25%!important;
}

  .user-card-area {
    width: 300px;
    height: 360px;  
    position: relative;
    margin-top: 100px;
  }

  .user-sum {
    font-size: 22px;
    width: 40px;
    right: 15%;
    bottom: 50%;
  }

  .betting-box {
    width: 300px;
    height: 100px;
    left: 50%;
    margin-left: -150px;
  }

  .chips {
    width: 300px;
    height: 100px;
    margin: 0px;
    padding: 0px;
  }

  .pokerchip {
    width: 55px;
    height: 55px;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: 4px dashed  #fff;
  }

  .greenchip {
    background: #008000;
    position: absolute;
    bottom: 3%;
    left: 0;
    margin-left: 10px;
    transition: 0.5s ease-in-out;
  }
  
  .redchip {
    background:  #800000!important;
    position: absolute;
    bottom: 3%;
    left: 0;
    margin-left: 87px;
    transition: 0.5s ease-in-out;
  }
  
  .bluechip {
    background-color: #000099!important;
    position: absolute;
    bottom: 3%;
    left: 0;
    margin-left: 161px;
    transition: 0.5s ease-in-out;
  
  }
  
  .blackchip {
    bottom: 3%;
    left: 0;
    margin-left: 235px;
    transition: 0.5s ease-in-out;
  
  }
  
  .betted-chip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -27.5px;
    visibility: visible;
    z-index: 10;
  }

  .hide-chips {
    visibility: hidden;
  }

  .place-bet-text {
    font-size: 30px;
    margin-left: -150px;
    width: 300px;
    font-weight: 700;
    letter-spacing: 1.5px;
    word-spacing: 3px;
  }

  .arrow-1 {
    font-size: 40px;
    color: var(--white);
    position: absolute;
    top: -30%; 
    left: 0;
    margin-left: 168.5px;
    z-index: 1;
    animation: arrowmove 1s ease-in-out ;
    animation-iteration-count: infinite;
  }
  
  .arrow-2 {
    font-size: 40px;
    color: var(--white);
    position: absolute;
    top: -30%; 
    left: 0;
    margin-left: 95px;
    padding: 0px;
    z-index: 1;
    animation: arrowmove 1s ease-in-out ;
    animation-iteration-count: infinite;
  }
  
  .arrow-3 {
    font-size: 40px;
    color: var(--white);
    position: absolute;
    top: -30%; 
    left: 0;
    margin-left: 18px;
    z-index: 1;
    animation: arrowmove 1s ease-in-out ;
    animation-iteration-count: infinite;
  }
  
  .arrow-4 {
    font-size: 40px;
    color: var(--white);
    position: absolute;
    top: -30%; 
    left: 0;
    margin-left: 243px;
    z-index: 1;
    animation: arrowmove 1s ease-in-out ;
    animation-iteration-count: infinite;
  
  }

  .none-transition {
    transition: none;
  }
  

  }
  
  