.game-table {
    width: 100%;
    height: 100%;
  }
  
  .dealers-box {
    width: 800px;
    height: 200px;  
    position: relative;
  }

  .first-dealer-card, .second-dealer-card, .third-dealer-card,
  .fourth-dealer-card, .fifth-dealer-card, .sixth-dealer-card, .seventh-dealer-card,
  .first-user-card, .second-user-card {
    position: absolute; 
    left: -80%;
    top: -200%;
  }

  .active1, .activeOne {
      top: 0;
      left: 30%;
      animation-duration: 500ms;
      transition: ease 0.5s;
  }

  .active2, .activeTwo {
      top: 0;
      left: 35%;
      animation-duration: 500ms;
      transition: ease 0.5s
  }
  .active3 {
      top: 0;
      left: 40%;
      animation-duration: 500ms;
      transition: ease 0.5s;
  }
  .active4 {
      top: 0;
      left: 45%;
      animation-duration: 500ms;
      transition: ease 0.5s
  }
  .active5 {
      top: 0;
      left: 50%;
      animation-duration: 500ms;
      transition: ease 0.5s
  }
  .active6 {
      top: 0;
      left: 55%;
      animation-duration: 500ms;
      transition: ease 0.5s
  }

  .active7 {
      top: 0;
      left: 60%;
      animation-duration: 500ms;
      transition: ease 0.5s
  }

  .user-box {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    bottom: 0!important;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stand-btn, .hit-btn {
    color: var(--white);
    padding: 5px 10px;
    border: 1px solid burlywood;
    border-radius: 10px;
    background-image:linear-gradient(rgb(108, 24, 24), rgb(159, 13, 13));
    font-size: 20px;
    letter-spacing: 1.3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    width: 90px;
    cursor: pointer;
}

.hit-btn {
    background-image: linear-gradient(midnightblue, rgb(51, 51, 203));
}

.hit-btn:active, .stand-btn:active {
    transform: translateY(2px);
}

.user-card-area {
  width: 800px;
  height: 200px;  
  position: relative;
  margin-top: 150px;
}




  
  @media screen and (max-width: 811px) {
    .dealers-box {
      width: 620px;
      height: 200px;
    }
  }
  
  @media screen and (max-width: 471px) {
    .dealers-box {
      width: 300px;    
    }

    .user-box {
        width: 250px;
        position: absolute;
        left: 50%;
        margin-left: -125px;
        bottom: 0;
        padding: 30px 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .stand-btn, .hit-btn {
        padding: 6px 10px;
        font-size: 18px;
        letter-spacing: 1.3px;
        width: 80px;
    }

 
   

  .active1 {
      left: 5%;
  }
  .active2 {
    left: 15%;
  }
  .active3 {
    left: 25%;
  }
  .active4 {
    left: 35%;
  }
  .active5 {
    left: 45%;
  }
  .active6 {
    left: 55%;
  }
  .active7 {
    left: 65%;
  }

  .activeOne {
    left: 25%;
  }

  


  .user-card-area {
    width: 300px;
    height: 360px;  
    position: relative;
    margin-top: 100px;
  }

  
  }
  
  