.card-frame {
    margin-top: 10px;
    width: 122px;
    height: 165px;
    padding: 0px;
    font-size: 23px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    position: relative;

}

.first-digit {
    width: auto;
    background-color: whitesmoke;
    margin-left: 5px;
    margin-top: 5px;
}

.red {
    color: var(--red);
}

.black {
    color: var(--black);
}

.clubs-suit-small, .hearts-suit-small, .diamonds-suit-small, .spades-suit-small {
    color: var(--black);
    font-size: 10px;
    background-color: var(--white);  
    margin-left: 5px;
    margin-bottom: 9px;
}

#spades-small {
    margin-left: 5px;
}

#diamonds-small {
    color: var(--red);
    font-size: 12px;
    margin-left: 4px;

}

#clubs-small {
  
    margin-left: 4.3px;
}

#hearts-small {
    color: var(--red);
    font-size: 8.8px;
}

#heart-2 {
    font-size: 8.8px;
    margin-bottom: 8px;
}

#spades-2 {
    bottom: 14%;
    right: 8%;
}

#clubs-2 {
    bottom: 13%;
}

.heart-suit-small-2 {
    color: var(--red);
    transform: rotate(180deg);
    position: absolute;
    bottom: 15%;
    right: 8%;
    font-size: 8.8px;
    margin-left: 2px;
    margin-bottom: 8px;
    background-color: var(--white);  
}



.clubs-suit-small-2 {
    transform: rotate(180deg);
    position: absolute;
    bottom: 14%;
    right: 8%;
}

 .diamonds-suit-small-2 {
    color: var(--red);
    font-size: 12px;
    margin-left: 4.5px;
    margin-bottom: 8px;
    background-color: var(--white);  
}

#heart-2 {
    bottom: 14%;
    right: 8.3%;
}

.diamonds-suit-small-2 {
    transform: rotate(180deg);
    position: absolute;
    bottom: 14%;
    right: 7%;
}

#diamonds-2 {
    bottom: 13%;
}

 .spades-suit-small-2 {
    color: var(--black);
    font-size: 10px;
    background-color: var(--white);  
    margin-left: 5.5px;
    margin-bottom: 9px;
}

.spades-suit-small-2 {
    transform: rotate(180deg);
    position: absolute;
    bottom: 15%;
    right: 8%;
}

.first-heart, .second-heart {
    color: var(--red);
    background-color: var(--white);
    font-size: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -10px;
}

.first-diamond, .second-diamond {
    color: var(--red);
    background-color: var(--white);
    font-size: 27px;
    width: 27px;
    height: 27px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -13.5px;
}

.first-club, .second-club {
    color: var(--black);
    background-color: var(--white);
    font-size: 22px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -13.5px;
}
.first-spade, .second-spade {
    color: var(--black);
    background-color: var(--white);
    font-size: 22px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -13.5px;
}

.second-heart, .second-club, .second-diamond, .second-spade {
    bottom: 20%;
    top: unset
}


.second-digit {
    transform: rotate(180deg);
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 7px;
    margin-right: 10px; 
}



@media screen and (max-width: 811px) {
    .card-frame {
        margin-top: 10px;
        width: 102px;
        height: 145px;
      
    }

    .heart-suit-small-2, .clubs-suit-small-2, .spades-suit-small-2, .diamonds-suit-small-2 {
        bottom: 17%;
        right: 9.5%;
    }

    #heart-2 {
        font-size: 8.8px;
        margin-bottom: 11px;
        margin-right: 2px;
    }

    #spades-2 {
        right: 9.2%;
    }

    #diamonds-2 {
        bottom: 14.5%;
        right: 8%;
    }

  

  

}

@media screen and (max-width: 471px) {
    .card-frame {
        margin-top: 10px;
        width: 88px;
        height: 120px;
        padding: 2px;
        font-size: 23px;
    }

    .spades-suit-small-2, .clubs-suit-small-2 {
        bottom: 10.8%;
        right: 5%;
    }

    
 

  

    #hearts-small {
        margin-left: 1px;
        margin-bottom: 11px;
    }

    #spades-small {
        margin-left: 0.5px;
    }

    #diamonds-small {
        margin-left: -0.3px;
    }

    #clubs-small {
        margin-left: 0.6px;
    }


  
    .diamonds-suit-small-2 {
        bottom: 10%;
        right: 3.5%;
    } 



   

   

    .first-digit {
        font-size: 18px;
        margin-top: 0px;
        margin-left: 2px;
    }

    .second-digit {
        font-size: 18px;
        margin-bottom: 0px;
        margin-right: 5px;
    }

    .first-heart, .second-heart {
        font-size: 19px;
        width: 19px;
        height: 19px;
    }

    .second-heart {
        transform: rotate(180deg);

       
    }

   #heart-2 {
    bottom: 6.8%;
    right: 4.8%;
    margin-right: 0px;
   }

   #spades-2 {
    bottom: 6.8%;
    right: 3.8%;
    margin-right: 0px;
   }

   #diamonds-2 {
    bottom: 6.8%;
    right: 3%;
    margin-right: 0px;
   }

   #clubs-2 {
    right: 4%;
    bottom: 7%;
   }

  
}