.card07-frame {
    margin-top: 10px;
    width: 122px;
    height: 165px;
    padding: 3px;
    font-size: 23px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    position: relative;
}

.red {
    color: var(--red);
}

.card07-first-digit {
        width: 20px;
        height: 20px;
        background-color: transparent;
        color: var(--black);
        position: absolute;
        top: 2%;
        left: 5%;
        font-size: 22px;
}

.card07-second-digit {
        transform: rotate(180deg);
        width: 20px;
        height: 20px;
        background-color: transparent;
        color: var(--black);
        position: absolute;
        bottom: 2%;
        right: 5%;
        font-size: 22px;
}

.card07-first-symbol {
    background: transparent;
    font-size: 11px;
    position: absolute;
    left: 5%;
    top: 17%;
}

.card07-second-symbol {
    transform: rotate(180deg);
    background: transparent;
    font-size: 11px;
    position: absolute;
    right: 5%;
    bottom: 17%;
}

.card07-middle-symbol-one {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    top: 30%;
    left: 30%;
    margin-top: -10px;
    margin-left: -10px;

}

.card07-middle-symbol-two {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    top: 30%;
    right: 30%;
    margin-top: -10px;
    margin-right: -10px;
}

.card07-middle-symbol-three {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    bottom: 30%;
    left: 30%;
    margin-bottom: -10px;
    margin-left: -10px;
}

.card07-middle-symbol-four {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    bottom: 30%;
    right: 30%;
    margin-bottom: -10px;
    margin-right: -10px;
}

.card07-middle-symbol-five {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    bottom: 50%;
    right: 30%;
    margin-bottom: -10px;
    margin-right: -10px;
}

.card07-middle-symbol-six {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    bottom: 50%;
    left: 30%;
    margin-bottom: -10px;
    margin-left: -10px;
}

.card07-middle-symbol-seven {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    top: 38%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
}



@media screen and (max-width: 1800px) {
    .card07-frame {
        margin-top: 10px;
        width: 88px;
        height: 120px;
        font-size: 23px;
        position: relative!important;
    }

    .card07-first-digit {
        font-size: 19px;
    }
    .card07-second-digit {
        font-size: 19px;
    }
    
    .card07-first-symbol {
        background: transparent;
        font-size: 8px;
        position: absolute;
        left: 5.6%;
        top: 19%;
    }

    .card07-second-symbol {
        font-size: 8px;
        bottom: 19%;
    }

    .card07-middle-symbol-one {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-left: -8px;
    }

    .card07-middle-symbol-two {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-left: -8px;
    }

    .card07-middle-symbol-three {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-left: -8px;
    }

    .card07-middle-symbol-four {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-left: -8px;
    }
 
    .card07-middle-symbol-five {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-left: -8px;
    }
   
    .card07-middle-symbol-six {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-left: -8px;
    }
  
    .card07-middle-symbol-seven {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-left: -8px;
        margin-top: -8px;
    }
    
    
   

    .hearts {
        width: 15px;
        height: 15px;
        font-size: 15px;
    }

}