* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "beautyofthebeast";
  src: url('../src/assets/fonts/Beautyofthebeast-1VpM.ttf');
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  
  --red: #e44145;
  --white: whitesmoke;
  --black: black;
}

