* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #32682c;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  --red: #e44145;
  --white: whitesmoke;
  --black: black;
}

.app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  border: 1px solid white;
}

@media screen and (max-width: 768px) {
  .app {
    width: 620px;
  }
}

@media screen and (max-width: 320px) {
  .app {
    width: 620px;
  }
}

