.card05-frame {
    margin-top: 10px;
    width: 122px;
    height: 165px;
    padding: 3px;
    font-size: 23px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    position: relative;

}

.red {
    color: var(--red);
}

.card05-first-digit {
        width: 20px;
        height: 20px;
        background-color: transparent;
        color: var(--black);
        position: absolute;
        top: 2%;
        left: 5%;
        font-size: 22px;
}

.card05-second-digit {
        transform: rotate(180deg);
        width: 20px;
        height: 20px;
        background-color: transparent;
        color: var(--black);
        position: absolute;
        bottom: 2%;
        right: 5%;
        font-size: 22px;
}

.card05-first-symbol {
    background: transparent;
    font-size: 11px;
    position: absolute;
    left: 5%;
    top: 17%;
}

.card05-second-symbol {
    transform: rotate(180deg);
    background: transparent;
    font-size: 11px;
    position: absolute;
    right: 5%;
    bottom: 17%;
}

.card05-middle-symbol-one {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    top: 30%;
    left: 35%;
    margin-top: -10px;
    margin-left: -10px;

}

.card05-middle-symbol-two {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    top: 30%;
    right: 35%;
    margin-top: -10px;
    margin-right: -10px;
}

.card05-middle-symbol-three {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    bottom: 30%;
    left: 35%;
    margin-bottom: -10px;
    margin-left: -10px;
}

.card05-middle-symbol-four {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    bottom: 30%;
    right: 35%;
    margin-bottom: -10px;
    margin-right: -10px;
}

.card05-middle-symbol-five {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    bottom: 50%;
    right: 50%;
    margin-bottom: -10px;
    margin-right: -10px;
}

.diamond {
    width: 24px;
    height: 24px;
    font-size: 24px;
}

@media screen and (max-width: 471px) {
    .card05-frame {
        margin-top: 10px;
        width: 88px;
        height: 120px;
        font-size: 23px;
        position: relative!important;
    }

    .card05-first-digit {
        font-size: 19px;
    }
    .card05-second-digit {
        font-size: 19px;
    }

    .first-symbol {
        background: transparent;
        font-size: 9px;
        position: absolute;
        left: 5%;
        top: 18%;
    }

    .card05-first-symbol {
        background: transparent;
        font-size: 8px;
        position: absolute;
        left: 5.2%;
        top: 19%;
    }

    .card05-second-symbol {
        font-size: 8px;
        bottom: 19%;
    }

    .card05-middle-symbol-one {
        width: 17px;
        height: 17px;
        font-size: 17px;
    }

    .card05-middle-symbol-two {
        width: 17px;
        height: 17px;
        font-size: 17px;
    }

    .card05-middle-symbol-three {
        width: 17px;
        height: 17px;
        font-size: 17px;
    }

    .card05-middle-symbol-four {
        width: 17px;
        height: 17px;
        font-size: 17px;
    }
 
    .card05-middle-symbol-five {
        width: 17px;
        height: 17px;
        font-size: 17px;
    }
    
    
    .diamond {
        width: 22px;
        height: 22px;
        font-size: 22px;
    }  

    .hearts {
        width: 15px;
        height: 15px;
        font-size: 15px;
    }  


}