.jack-frame {
    margin-top: 10px;
    width: 122px;
    height: 165px;
    padding: 3px;
    font-size: 23px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    position: relative;
}

.red {
    color: var(--red);
}

.black {
    color: var(--black);
}


.jack-first-letter {
        width: 22px;
        height: 22px;
        background-color: transparent;
        position: absolute;
        top: 2%;
        left: 5%;
        font-size: 22px;
}



.jack-second-letter {
        transform: rotate(180deg);
        width: 22px;
        height: 22px;
        background-color: transparent;
        position: absolute;
        bottom: 2%;
        right: 5%;
        font-size: 22px;
}

.jack-first-symbol {
    background: transparent;
    font-size: 11px;
    position: absolute;
    left: 4%;
    top: 17%;
}

.jack-second-symbol {
    transform: rotate(180deg);
    background: transparent;
    font-size: 11px;
    position: absolute;
    right: 4%;
    bottom: 17%;
}

.top-axe {
    background: transparent;
    position: absolute;
    top: 30%;
    width: 28px;
    height: 28px;
    font-size: 28px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
}

.bottom-axe {
    background: transparent;
    position: absolute;
    bottom: 30%;
    width: 28px;
    height: 28px;
    font-size: 28px;
    left: 50%;
    margin-bottom: -15px;
    margin-left: -15px;
    transform: rotate(180deg);
}

@media screen and (max-width: 1800px) {
    .jack-frame {
        margin-top: 10px;
        width: 88px;
        height: 120px;
        font-size: 23px;
        position: relative!important;
    }

    .jack-first-letter {
        width: 18px;
        height: 18px;
        font-size: 18px;
    }
    .jack-second-letter {
        width: 18px;
        height: 18px;
        font-size: 18px;
    }
      
    .jack-first-symbol {
        font-size: 8px;
        left: 4%;
        top: 19%;
    }

    .jack-second-symbol {
        font-size: 8px;
        bottom: 19%;
        right: 4%;
    }

    .top-axe {
        background: transparent;
        position: absolute;
        top: 30%;
        width: 22px;
        height: 22px;
        font-size: 22px;
        left: 50%;
        margin-top: -11px;
        margin-left: -11px;
    }
    
    .bottom-axe {
        background: transparent;
        position: absolute;
        bottom: 30%;
        width: 22px;
        height: 22px;
        font-size: 22px;
        left: 50%;
        margin-bottom: -11px;
        margin-left: -11px;
        transform: rotate(180deg);
    }

}